
body{

    margin-left: 150px;
    margin-right: 150px;

    padding: 10px;

    border: 5px solid #e7c641;
    border-radius: 10px;


    text-align: center;
    
    font-family: 'Goldman', cursive;
    font-weight: 300;

    color: #422b19 ;

}

.hero{
    background-image: url(image/starwars.jpg);

    border: 3px solid #e7c641;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-size: 100% 100%;

    padding-bottom: 50px;
}


#logo{
    width: 80px;
}


#underline{
    border-bottom:3px solid gold;

}

#title{
    text-shadow: -2px 2px 0px gold;
}

.btn{
    font-family: inherit;
    color: inherit;

    padding: 5px 10px;

    border: 0;
    border-radius: 10px;

    background-color: #c9ad7a;

    cursor: pointer;
}

#term_condition{

    margin-top: 0px;
    margin-bottom: 0px;

    padding: 10px;

    background-color: #e8c640;
}